mxram 2000;
nstates NOGAPS;
nstates dna;
procedure <SNVDIR>/snv_hap.<REP>.<TRIAL>.tnt ;
hold 1000 ;
log snv_hap.<REP>.tnt.log ;
taxname = ;
mult=replic 100 ;
ttags = ;
blength *;
ttags );
ttags ;
export - snv_hap.<REP>.TNT.Tree ;
tsave * snv_hap.<REP>.tread; 
ttags -;
save .; 
tsave/;
quit;
